.nav{
    width: 100%;
    padding: 20px;
    background-color: grey;
}

.left-nav {
    margin-right:10%;
    color:white;
    font-weight: bold;
}

.right-nav {
    float:right;
    margin-right:5%;
    color:white;
    font-weight: bold;
}