.calender {
    display: inherit;
    width: 80%;
    /* float: right; */
    height: 200px;
    border: solid;
    margin-top: 50px;
}

.events {
    line-height: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .events li {
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .events li span {
    vertical-align: middle;
  }
  
  .events li span:first-child {
    font-size: 9px;
    margin-right: 4px;
  }
  
  .event-LOW {
    font-size: 9px;
    color: #4bc259;
  }
  
  .event-MEDIUM {
    font-size: 9px;
    color: #108ee9;
  }
  
  .event-HIGH {
    font-size: 9px;
    color: #f50;
  }
  
  .notes-month {
    text-align: center;
  }
  .notes-month section {
    font-size: 28px;
  }

  .calenderWelcome {
    font-family: Helvetica, Arial, sans-serif;
    width:100%;
    height:55px;
    margin-top:10px;
    margin-left:15px;
    margin-bottom:15px;
    /* background-color: rgb(255,255,255); */
    font-size: 40px;
}

.loadingSpinCalendar{
  text-align: center;
  margin-top: 10%;
}