.nav{
    width: 100%;
    padding: 3px;
    background-color: grey;
}

.left-nav {
    margin-top: 20px;
    margin-left: 20px;
    margin-right:5%;
    color:white;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
}

.left-nav:hover {
    color:rgb(180, 180, 180);
    cursor: pointer;
}

.right-nav {
    float:right;
    margin-right:5%;
    color:white;
    font-size: 25px;
}