.form-wrap{
    display: flex;
    width: 500px;
    /* height: 100vh; */
    margin: auto;
    margin-top: 100px;
    margin-left: 300px;
    align-items: center;
    
    
    }
    .form-wrap div{
        width: 100%;
       
    }
    
    p{
        float: left;
       
        /* margin-right: 260px;
        margin-bottom: 50px; */
    }
    .form-header{
        margin-bottom: 50px;
    }

   Form{
       
       width: 80%;
   }
   .login-form-button{
      color:black;
   
   }

   label{
      float: left;
   }

   .registerform-header{
       margin-bottom: 70px;
   }


   .main {
    margin: 20px;
    
}


.leftPart{
/* background-color: black; */
width: 40%;
height: 700px;
/* margin-right: 100px; */
float: right;
padding-left: 50px;

}
.rightPart{
    width: 60%;
    height: 700px;
    padding-left: 50px;
}