.main {
    margin: 20px;
}

.description-box {
    height: 100px;
    width: 300px;
}

.ticket-btn {
    width:150px !important;
    margin-right: 20px;
    margin-top: 20px;
}

.ticket-history-btn{
    width: 95px !important;
    margin-right: 20px;
}

.maintenance-history {
    width:650px !important;
    margin-left:0px !important;
}

.ticketing-subtitle {
    margin-top: 5%;
}

.submit-title{
    width:200%;
}