@import "./styles/Navigation.css";
@import "./styles/TicketingManager.css";
@import "./styles/TicketingResident.css";
@import "./styles/TicketingStaff.css";
@import "./styles/Blank.css";
@import "./styles/Footer.css";
@import "./styles/Login.css";
@import "./styles/Calender.css";
@import "./styles/WorkOrder.css";
@import "./styles/Payment.css";
@import "./styles/DropDown.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~antd/dist/antd.css';

@import './styles/DashBoardResident.css';
@import './styles/News.css';

@import './styles/Registration.css';
@import './styles/TicketingDetail.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
